extends _layout/layout

block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

block body
	section.home
				ul
					li.arrow
						h2 Download1 
						p 1080p 720p
					li.arrow
						h2 Download2
						p 1080p 720p
					li.arrow
						h2 Download3
						p 1080p 720p
					li.arrow
						h2 Download4
						p 1080p 720p
					li.arrow
						h2 Download5
						p 1080p 720p
	
